body {
    background-color: darksalmon;
}
h1 {
    text-align: center;
    margin-top: 5vw;
    background-color: burlywood;
    font-size: 50px;
    border: 5px solid rgba(151, 21, 9, 0.692);
    border-radius: 5px;
}
li {
    padding: 1%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: square;
}
ul li {
    background: #ffe5e5;
    color: rgb(126, 0, 0);
    margin: 5px;
}